{% if widget.is_initial %}
<span data-i18n-key="currentFileLabel">Attualmente</span>:
<a href="{{ widget.value.url }}">{{ widget.value }}</a>
{% if not widget.required %}
<input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}" {% if widget.attrs.disabled %} disabled{% endif %}{% if widget.attrs.checked %} checked{% endif %}>
<label for="{{ widget.checkbox_id }}" data-i18n-key="removePhotoAction">Rimuovi foto</label>
{% endif %}<br>
<label class="pill-link" for="{{ widget.attrs.id }}" data-i18n-key="changeFileLabel">Modifica</label>
{% else %}
<label class="pill-link" for="{{ widget.attrs.id }}" data-i18n-key="chooseFileAction">Scegli file</label>
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}" data-i18n-file-input{% include "django/forms/widgets/attrs.html" %}>
<p class="helper-text" data-selected-file data-file-input-id="{{ widget.attrs.id }}" data-i18n-key="noFileSelected">Nessun file selezionato.</p>
